<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin
   id="tk.eclipse.plugin.stepcounter"
   name="%pluginName"
   version="2.0.0"
   provider-name="%providerName"
   class="tk.eclipse.plugin.stepcounter.StepCounterPlugin">

   <runtime>
      <library name="stepcounter.jar">
        <export name="*" />
      </library>
      <library name="lib/fisshplate-0.1.4.jar">
         <export
               name="*">
         </export>
      </library>
      <library name="lib/poi-3.2-FINAL.jar">
         <export
               name="*">
         </export>
      </library>
      <library name="lib/commons-logging-1.1.jar">
         <export
               name="*">
         </export>
      </library>
      <library name="lib/log4j-1.2.12.jar">
         <export
               name="*">
         </export>
      </library>
      <library name="lib/ognl-2.6.9-patch-20090427.jar">
         <export
               name="*">
         </export>
      </library>
      <library name="lib/org.apache.commons.jrcs.diff.jar">
         <export
               name="*">
         </export>
      </library>
      <library name="lib/grouplayout.jar">
         <export
               name="*">
         </export>
      </library>
      <library name="lib/swingx-1.6.jar">
         <export
               name="*">
         </export>
      </library>
   </runtime>
   <requires>
      <import plugin="org.eclipse.ui"/>
      <import plugin="org.eclipse.core.runtime"/>
      <import plugin="org.eclipse.ui.views"/>
      <import plugin="org.eclipse.jface.text"/>
      <import plugin="org.eclipse.ui.workbench.texteditor"/>
      <import plugin="org.eclipse.ui.editors"/>
      <import plugin="org.eclipse.core.resources"/>
      <import plugin="org.eclipse.jdt.core"/>
      <import plugin="org.eclipse.jdt.ui"/>
      <import plugin="org.apache.ant"/>
      <import plugin="org.eclipse.ui.ide"/>
   </requires>

   <extension
         point="org.eclipse.ui.views">
      <category
            name="%category"
            id="tk.eclipse.plugin.stepcounter">
      </category>
      <view
            name="%stepCountViewName"
            category="tk.eclipse.plugin.stepcounter"
            icon="icons/stepcounter.gif"
            class="tk.eclipse.plugin.stepcounter.StepCountView"
            id="tk.eclipse.plugin.stepcounter.StepCountView">
      </view>
      <view
            name="%diffCountViewName"
            category="tk.eclipse.plugin.stepcounter"
            icon="icons/stepcounter.gif"
            class="tk.eclipse.plugin.stepcounter.DiffCountView"
            id="tk.eclipse.plugin.stepcounter.DiffCountView">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            objectClass="org.eclipse.core.resources.IFile"
            adaptable="true"
            id="tk.eclipse.plugin.stepcounter.objectContribution1">
         <menu
               label="%menuLabel"
               id="tk.eclipse.plugin.stepcounter.menu"
               path="additions">
            <separator name="count" />
         </menu>
         <!--
         <action
               label="%diffCountLabel"
               class="tk.eclipse.plugin.stepcounter.DiffCountAction"
               id="tk.eclipse.plugin.stepcounter.DiffCountActions"
               enablesFor="1"
               menubarPath="tk.eclipse.plugin.stepcounter.menu/count">
         </action>
         -->
         <action
               label="%stepCountLabel"
               class="tk.eclipse.plugin.stepcounter.StepCountAction"
               id="tk.eclipse.plugin.stepcounter.StepCountAction"
               menubarPath="tk.eclipse.plugin.stepcounter.menu/count">
         </action>
      </objectContribution>
      <objectContribution
            objectClass="org.eclipse.core.resources.IContainer"
            adaptable="true"
            id="tk.eclipse.plugin.stepcounter.objectContribution2">
         <menu
               label="%menuLabel"
               id="tk.eclipse.plugin.stepcounter.menu"
               path="additions">
            <separator name="count" />
         </menu>
         <action
               label="%diffCountLabel"
               class="tk.eclipse.plugin.stepcounter.DiffCountAction"
               id="tk.eclipse.plugin.stepcounter.DiffCountActions"
               enablesFor="1"
               menubarPath="tk.eclipse.plugin.stepcounter.menu/count">
         </action>
         <action
               label="%stepCountLabel"
               class="tk.eclipse.plugin.stepcounter.StepCountAction"
               id="tk.eclipse.plugin.stepcounter.StepCountAction"
               menubarPath="tk.eclipse.plugin.stepcounter.menu/count">
         </action>
      </objectContribution>
   </extension>
</plugin>
